body {
  background: #000;
  color: #00ffcc;
  font-family: monospace;
  margin: 0;
}

.terminal {
  border: 1px solid #00ffcc;
  padding: 20px;
  margin: 40px;
  box-shadow: 0 0 15px rgba(0, 255, 204, 0.4);
  transition: box-shadow 0.3s ease;
}

.terminal:hover {
  box-shadow: 0 0 25px rgba(0, 255, 204, 0.8);
}

.cmd {
  color: #00ffcc;
}

.subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.glitch {
  color: #ff00ff;
  text-shadow: 2px 0 cyan, -2px 0 magenta;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li::before {
  content: "➜ ";
  color: #00ffcc;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

.hint {
  color: #888;
  font-size: 0.9em;
  margin-top: 6px;
}


a:hover {
  text-shadow: 0 0 10px #00ffcc;
}


img {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #00ffcc;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.4);
}

pre {
  background: #050505;
  color: #00ffcc;
  padding: 15px;
  border: 1px solid #00ffcc;
  overflow-x: auto;
  box-shadow: 0 0 10px rgba(0, 255, 204, 0.4);
}

